@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";


html,
body {
  background-color: theme('colors.white');
  @media (prefers-color-scheme: dark) {
    background-color: theme('colors.gray.950');
    color-scheme: dark;
  }
}
